/*$icon-font-path: "/bower_components/sass-bootstrap/fonts/";*/

/*@import 'sass-bootstrap/lib/bootstrap';*/
/*.speakers {*/
/*width: 80%;*/
/*margin: auto;*/
/*}*/

/*.speaker {*/
/*float: left;*/
/*padding: 10px;*/
/*cursor: pointer;*/
/*}*/

/*.speaker-modal {*/
/*background: url("http://www.ausztriaszallas.hu/tavak/9_1.jpg");*/
/*background-size: 900px;*/
/*height: 550px;*/
/*}*/

/*.speaker-modal .info {*/
/*float: right;*/
/*width: 400px;*/
/*}*/

/*.speaker-modal .info .well {*/
/*background: rgba(120, 120, 120, 0.70);*/
/*border-color: rgba(120, 120, 120, 0.10);*/
/*font-weight: 500;*/
/*color: white;*/
/*}*/

/*.my-modal > .modal-dialog {*/
/*width: 900px;*/
/*}*/

/*.presentation .title {*/
/*font-size: small;*/
/*}*/

/*.presentation .speaker {*/
/*white-space: nowrap;*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/

/*.presentation .first-name,*/
/*.presentation .last-name {*/
/*font-size: x-small;*/
/*}*/

/*Animation classes*/

/*.animate {*/
/*-webkit-transition: all linear 1s;*/
/*-moz-transition: all linear 1s;*/
/*-o-transition: all linear 1s;*/
/*transition: all linear 1s;*/
/*}*/

/*.speaker.ng-enter,*/
/*.cell.ng-enter,*/
/*.presentation.ng-hide-remove {*/
/*opacity: 0 !important;*/
/*}*/

/*.speaker.ng-enter.ng-enter-active,*/
/*.cell.ng-enter.ng-enter-active,*/
/*.presentation.ng-hide-remove.ng-hide-remove-active {*/
/*opacity: 1 !important;*/
/*}*/

/*.speaker.ng-leave,*/
/*.cell.ng-leave,*/
/*.presentation.ng-hide-add {*/
/*opacity: 1 !important;*/
/*}*/

/*.speaker.ng-leave.ng-leave-active,*/
/*.cell.ng-leave.ng-leave-active,*/
/*.presentation.ng-hide-add.ng-hide-add-active {*/
/*opacity: 0 !important;*/
/*}*/

/*.presentation.ng-hide-add, .presentation.ng-hide-remove {*/
/*display: block !important;*/
/*}*/

/*V4P*/

.v4p {
    width: 70%;
    margin: 0 auto;
}

.voting {
    position: relative;
}

.voting .saving {
    background: darkgray;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    text-align: center;
}
.voting .saving h1{
    font-size: 6em;
    padding-top: 200px;

}

.v4p .arrows {
    text-align: center;
}

.v4p .arrows button {
    margin: 20px;
    width: 200px;
}

/*.vote{*/
/*position: absolute;*/
/*}*/

.v4p .speakers {
    width: 175px;
    float: left;
}

.v4p .presentation {
    float: left;
    width: 70%;
    padding-left: 10px;
}

.v4p .speakers .name {
    text-align: center;
}

.v4p .votes {
    float: left;
    width: 45px;
    margin-top: 20px;
}

.v4p .votes .vote {
    margin-bottom: 10px;
    cursor: pointer;
}

.v4p .votes .selected {
    color: #42538f;
    border-color: #42538f;
}

.v4p .presentation {
    float: left;
    width: 70%;
}

.v4p .end {
    font-size: 2em;
    text-align: center;
    -webkit-animation: bounceInDown 1s;
    animation: bounceInDown 1s;
}

.info-container {
    position: relative;
}

.info h1 {
    margin-top: 0px;
}

.info.ng-animate {
    position: absolute;
    top: 0;
}

.vote.block {
    -webkit-animation: shake 1s;
    animation: shake 1s;
}

.info.ng-enter, .next.ng-hide-remove {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.info.ng-leave, .next.ng-hide-add {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    display: block !important;
}

.prev.ng-hide-remove {
    -webkit-animation: slideInLeft 1s;
    animation: slideInLeft 1s;
}

.prev.ng-hide-add {
    -webkit-animation: slideOutRight 1s;
    animation: slideOutRight 1s;
    display: block !important;
}

table.help td:first-child {
    width: 40px;
    color: red;
    text-align: center;
    font-size: large;
}



