<div class="row" ng-repeat="partner in partners">
    <div class="col-sm-3 text-center">
        <img ng-src="{{partner.logo}}"/>
    </div>
    <div class="col-sm-9">
        <h4>{{partner.name}}</h4>

        <p ng-bind-html="partner.description"></p>
    </div>
</div>