<div class="modal-body blue">
    <div class="clearfix">
        <button type="button" ng-click="close()" class="close"><img src="/images/close.png"></button>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <p>
                <img src="{{photoFor(person)}}" class="img-circle">
            </p>

            <p>
                <a ng-if="person.twitter" href="https://twitter.com/{{person.twitter}}" class="btn btn-default btn-primary" target="_blank">@twitter</a><br>
                <a ng-if="person.url" href="http://{{person.url}}" class="btn btn-default btn-primary" target="_blank">strona www</a>
            </p>
        </div>
        <div class="col-sm-7">
            <h4>{{person.firstName}} {{person.lastName}}</h4>

            <div ng-bind-html="person.bio"></div>
        </div>
    </div>
</div>
<div class="modal-body lightblue" ng-if="person.presentations">
    <div class="row">
        <div class="col-sm-12">
            <p class="text-info">Temat prezentacji:</p>
            <h4>{{person.presentations[0].title}}</h4>

            <p>{{person.presentations[0].longDesc}}</p>
        </div>
    </div>
    <!--<div class="row">-->
        <!--<div class="col-sm-12 text-center">-->
            <!--<p>-->
                <!--<a href="#" class="btn btn-default btn-primary">pobierz</a>-->
                <!--<a href="#" class="btn btn-default btn-primary">zobacz na youtube</a>-->
                <!--<a href="#" class="btn btn-default btn-primary">zobacz kod</a>-->
            <!--</p>-->
        <!--</div>-->
    <!--</div>-->
</div>
