<section class="white">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="text-center">O nas</h3>

                <page name="about"></page>
            </div>
        </div>
    </div>
</section>
<div ng-controller="HostsCtrl" class="hosts">
    <section class="red">
        <div class="container text-center">
            <h3>Organizatorzy</h3>
            <h4>Kapituła</h4>
            <people items="hosts"></people>
        </div>
    </section>
    <section class="lightred" ng-show="volunteers.length">
        <div class="container text-center">
            <h4>Wolontariusze</h4>
            <people items="volunteers"></people>
        </div>
    </section>
</div>
<sponsors></sponsors>