<section class="white" ng-controller="NewsCtrl" ng-init="nextPage()">
    <div class="container aktualnosci">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="text-center">Aktualności</h3>
                <news items="news"></news>
                <div style="text-align: center">
                    <a ng-click="nextPage()" class="btn btn-default btn-primary">pokaż starsze</a>
                </div>
            </div>
        </div>
    </div>
</section>
<sponsors></sponsors>