<div ng-controller="PartnersCtrl">
    <section class="white">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3>Partnerzy</h3>
                    <ul class="nav nav-tabs">
                        <li ng-repeat="type in types"
                            ng-if="isVisible(type)"
                            class="{{type.id}}"
                            ng-class="$index == 0 ? 'active': ''">
                            <a href="#{{type.id}}" data-toggle="tab" ng-click="activate($event, type)">
                                {{type.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="{{active.id}}">
        <div class="container">
            <div class="tab-content">
                <partner-section ng-repeat="type in types"
                                 ng-class="$index == 0 ? 'active': ''"
                                 partners="partners[type.id]" class="tab-pane" id="{{type.id}}"></partner-section>
            </div>
        </div>
    </section>
</div>