<section class="white prezentacje" ng-controller="PresentationCtrl">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <h3 class="text-center">Prezentacje</h3>

                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
                    </div>
                </div>
                <article ng-repeat="presentation in presentations | filter: search">
                    <div class="post-author">
                        <small>
                            <ng-pluralize count="presentation.speakers.length" when="{'1': 'prelegent:', 'other':'prelegenci:'}"/>
                        </small>
                        <span ng-repeat="speaker in presentation.speakers"><br><person for="speaker" type="text "></person></span>
                    </div>
                    <h4>{{presentation.title}}</h4>

                    <p ng-bind-html="presentation.longDesc"></p>
                    <!--<p class="post-buttons text-center">-->
                    <!--<a href="#" class="btn btn-default btn-primary">pobierz</a>-->
                    <!--<a href="#" class="btn btn-default btn-primary">zobacz na youtube</a>-->
                    <!--<a href="#" class="btn btn-default btn-primary">zobacz kod</a>-->
                    <!--</p>-->
                </article>
            </div>
        </div>
    </div>
</section>