<section ng-controller="RegisterConfirmationCtrl" class="white">
    <div class="container register">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Potwierdzenie rejestracji</h3>
                <h1 ng-if="loading" class="text-center" style="font-size: 7em;">Chwileczkę...</h1>

                <div ng-if="loading == false">
                    <page name="registration-confirm" ng-if="success"></page>
                    <div ng-if="success == false">
                        <h1>Ups... coś poszło nie tak! </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>