<label>Preferowane prezentacje <i class="fa fa-question-circle"
                                  popover-trigger="click"
                                  popover="{{info}}"></i>
</label>
<div ng-repeat="presentation in setup.presentations"
     class="presentations"
     ng-class="$index % 2 ? 'odd' : 'even'">
    <div class="checkbox" tooltip="{{getMessageFor(presentation.id)}}" tooltip-popup-delay="100">
        <label>
            <input type="checkbox"
                   ng-model="selected"
                   ng-disabled="isDisabled(presentation)"
                   ng-change="changed(selected, presentation)"/>
            {{presentation.title}}
        </label>
    </div>
</div>