<section class="white" ng-controller="SpeakerCtrl">
    <div class="container text-center">
        <h3>Prelegenci</h3>

        <div class="row" style="padding: 10px">
            <div class="col-md-4 col-md-offset-4">
                <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
            </div>
        </div>

        <div class="row bx-slider">
            <div class="col-sm-4 col-md-3 col-lr-" ng-repeat="speaker in speakers | filter: search">
                <person for="speaker"></person>
            </div>
        </div>
    </div>
</section>