<div class="container" ng-controller="TwitterCtrl">
    <div class="row twitter">
        <div class="col-md-6 col-md-push-6">
            <img class="img-responsive" src="images/man2.png">
        </div>
        <div class="col-md-6 col-md-pull-6 lighterblue text-center">
            <h3><img src="/images/twitter.png" alt="Twitter"></h3>

            <p ng-bind-html="tweet.text"></p>

            <p><em>{{toDate(tweet.created_at)}}</em><br><a href="https://twitter.com/confiturapl" target="_blank"><strong>@confiturapl</strong></a></p>
        </div>
    </div>
</div>